In [61]:
#These are libraries that you should import if needed for your notebook.
#import libraries
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Tables

In [39]:
# Upload file
# uploaded = files.upload('C:\University\University Files\University-Code\Sun\csv\olympics2024.csv')

In [50]:
#Read the file into a pandas dataframe
olympics = pd.read_csv('C:/University/University Files/University-Code/Sun/csv/olympics2024.csv')

In [40]:
#Output the table, olympics to the screen
olympics

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,1,United States,US,North America,40,44,42,126,3.349149e+08,71972.641370
1,2,China,CHN,Asia,40,27,24,91,1.410710e+09,11689.345810
2,3,Japan,JPN,Asia,20,12,13,45,1.245166e+08,37673.384700
3,4,Australia,AUS,Oceania,18,19,16,53,2.663854e+07,59480.901440
4,5,France,FRA,Europe,16,26,22,64,6.817023e+07,41738.604420
...,...,...,...,...,...,...,...,...,...,...
86,84,Peru,PER,South America,0,0,1,1,3.435272e+07,6949.323111
87,84,Qatar,QAT,Asia,0,0,1,1,2.716391e+06,67370.554620
88,84,Singapore,SIN,Asia,0,0,1,1,5.917648e+06,76062.578980
89,84,Slovakia,SVK,Europe,0,0,1,1,5.426740e+06,21290.114290
90,84,Zambia,ZAM,Africa,0,0,1,1,2.056974e+07,1237.426046

# Working with tables

In [41]:
# print the column header to the screen
olympics.columns

Index(['Rank', 'Country', 'Country Code', 'Continent', 'Gold', 'Silver',
       'Bronze', 'Total', 'Population', 'GDP per capita (current US$)'],
      dtype='object')

In [42]:
# select only specific columns
olympics[['Country', 'Total']]

          Country  Total
0   United States    126
1           China     91
2           Japan     45
3       Australia     53
4          France     64
..            ...    ...
86           Peru      1
87          Qatar      1
88      Singapore      1
89       Slovakia      1
90         Zambia      1

[91 rows x 2 columns]

To make changes permanent:

*   Assign new value to variable
*   Create new variable

In [43]:
# read only specific columns into a new table
totals = olympics[['Country', 'Total']]

In [44]:
# drop a specific column(s)
olympics.drop(columns=['Rank','Country Code'])

,Country,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,United States,North America,40,44,42,126,3.349149e+08,71972.641370
1,China,Asia,40,27,24,91,1.410710e+09,11689.345810
2,Japan,Asia,20,12,13,45,1.245166e+08,37673.384700
3,Australia,Oceania,18,19,16,53,2.663854e+07,59480.901440
4,France,Europe,16,26,22,64,6.817023e+07,41738.604420
...,...,...,...,...,...,...,...,...
86,Peru,South America,0,0,1,1,3.435272e+07,6949.323111
87,Qatar,Asia,0,0,1,1,2.716391e+06,67370.554620
88,Singapore,Asia,0,0,1,1,5.917648e+06,76062.578980
89,Slovakia,Europe,0,0,1,1,5.426740e+06,21290.114290
90,Zambia,Africa,0,0,1,1,2.056974e+07,1237.426046

**Sorting**

In [45]:
# sort the table according to the values in a specific column
olympics.sort_values(by='Total')

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
61,62,Dominica,DMA,North America,1,0,0,1,7.304000e+04,8106.886958
62,62,Pakistan,PKN,Asia,1,0,0,1,2.404857e+08,1452.374849
85,84,Refugee Olympic Team,EOR,Global,0,0,1,1,NaN,NaN
84,84,Ivory Coast,CIV,Africa,0,0,1,1,2.887303e+07,2505.987442
87,84,Qatar,QAT,Asia,0,0,1,1,2.716391e+06,67370.554620
...,...,...,...,...,...,...,...,...,...,...
3,4,Australia,AUS,Oceania,18,19,16,53,2.663854e+07,59480.901440
4,5,France,FRA,Europe,16,26,22,64,6.817023e+07,41738.604420
6,7,Great Britain,GBG,Europe,14,22,29,65,6.697000e+07,46125.260000
1,2,China,CHN,Asia,40,27,24,91,1.410710e+09,11689.345810
0,1,United States,US,North America,40,44,42,126,3.349149e+08,71972.641370

In [46]:
# sort the table according to the values in a specific column in a descending order
olympics.sort_values(by='Total', ascending=False)

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,1,United States,US,North America,40,44,42,126,3.349149e+08,71972.641370
1,2,China,CHN,Asia,40,27,24,91,1.410710e+09,11689.345810
6,7,Great Britain,GBG,Europe,14,22,29,65,6.697000e+07,46125.260000
4,5,France,FRA,Europe,16,26,22,64,6.817023e+07,41738.604420
3,4,Australia,AUS,Oceania,18,19,16,53,2.663854e+07,59480.901440
...,...,...,...,...,...,...,...,...,...,...
86,84,Peru,PER,South America,0,0,1,1,3.435272e+07,6949.323111
87,84,Qatar,QAT,Asia,0,0,1,1,2.716391e+06,67370.554620
88,84,Singapore,SIN,Asia,0,0,1,1,5.917648e+06,76062.578980
89,84,Slovakia,SVK,Europe,0,0,1,1,5.426740e+06,21290.114290
90,84,Zambia,ZAM,Africa,0,0,1,1,2.056974e+07,1237.426046

You can concatenate commands

In [51]:
# select a two columns and sort accoring to the values of the one
olympics[['Country', 'Total']].sort_values(by='Total', ascending=False)

          Country  Total
0   United States    126
1           China     91
6   Great Britain     65
4          France     64
3       Australia     53
..            ...    ...
86           Peru      1
87          Qatar      1
88      Singapore      1
89       Slovakia      1
90         Zambia      1

[91 rows x 2 columns]

**Filtering**

In [52]:
# filter rows\instances according to the values of a specific column
olympics.where(olympics['Gold'] > 10).dropna()

,Rank,Country,Country Code,Continent,Gold,Silver,Bronze,Total,Population,GDP per capita (current US$)
0,1.0,United States,US,North America,40.0,44.0,42.0,126.0,3.349149e+08,71972.64137
1,2.0,China,CHN,Asia,40.0,27.0,24.0,91.0,1.410710e+09,11689.34581
2,3.0,Japan,JPN,Asia,20.0,12.0,13.0,45.0,1.245166e+08,37673.38470
3,4.0,Australia,AUS,Oceania,18.0,19.0,16.0,53.0,2.663854e+07,59480.90144
4,5.0,France,FRA,Europe,16.0,26.0,22.0,64.0,6.817023e+07,41738.60442
5,6.0,Netherlands,NED,Europe,15.0,7.0,12.0,34.0,1.787949e+07,56585.69168
6,7.0,Great Britain,GBG,Europe,14.0,22.0,29.0,65.0,6.697000e+07,46125.26000
7,8.0,South Korea,KOR,Asia,13.0,9.0,10.0,32.0,5.171262e+07,32853.05860
8,9.0,Italy,ITA,Europe,12.0,13.0,15.0,40.0,5.876115e+07,35095.94639
9,10.0,Germany,GER,Europe,12.0,13.0,8.0,33.0,8.448227e+07,49289.02237

In [53]:
# filter rows\instances to retain information with a specific column value between two values
olympics.where(olympics['Gold'].between(2.10)).dropna()

TypeError: Series.between() missing 1 required positional argument: 'right'

In [54]:
# filter rows\instances to retain information with a specific column containing a specific string
olympics.where(olympics['Gold'].str.contains('South Afica')).dropna()

AttributeError: Can only use .str accessor with string values!

**Perform operations or apply methods**

In [55]:
#How many rows are in the table?
len(olympics)

91

In [56]:
# Calculate the sum of each column
olympics.sum()

Rank                                                                         4123
Country                         United StatesChinaJapanAustraliaFranceNetherla...
Country Code                    USCHNJPNAUSFRANEDGBGKORITAGERNZCANUZBHUNSPASWE...
Continent                       North AmericaAsiaAsiaOceaniaEuropeEuropeEurope...
Gold                                                                          328
Silver                                                                        327
Bronze                                                                        384
Total                                                                        1039
Population                                                           6187849757.0
GDP per capita (current US$)                                       1927572.167322
dtype: object

In [57]:
# We can also perform operations on an array
type(olympics['total'])

KeyError: 'total'

In [58]:
#Determine total number of gold medals
sum(olympics['Gold'])

328

In [59]:
#Determine average number of medals
np.average(olympics['total'])

KeyError: 'total'

**Class Exercise**: Determine whether the average number of gold medals won per country is higher for Europe or for North American countries.

In [60]:
# determine averge of european countries
EG = olympics.where(olympics['Continent'] == 'Europe').dropna()['Gold'].mean()
# determine averge of North American countries
NG = olympics.where(olympics['Continent'] == 'North America').dropna()['Gold'].mean()
# determine the difference
EG - NG

np.float64(-0.9313725490196081)