In [ ]:
#These are libraries that you should import if needed for your notebook.
#import libraries
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
from google.colab import files

# Tables

In [ ]:
#Upload file

In [ ]:
#Read the file into a pandas dataframe

In [ ]:
#Output the table, olympics to the screen

# Working with tables

In [ ]:
# print the column header to the screen

In [ ]:
# select only specific columns

To make changes permanent:

*   Assign new value to variable
*   Create new variable

In [ ]:
# read only specific columns into a new table

In [ ]:
# drop a specific column(s)

**Sorting**

In [ ]:
# sort the table according to the values in a specific column

In [ ]:
# sort the table according to the values in a specific column in a descending order

You can concatenate commands

In [ ]:
# select a two columns and sort accoring to the values of the one

**Filtering**

In [ ]:
# filter rows\instances according to the values of a specific column

In [ ]:
# filter rows\instances to retain information with a specific column value between two values

In [ ]:
# filter rows\instances to retain information with a specific column containing a specific string

**Perform operations or apply methods**

In [ ]:
#How many rows are in the table?

In [ ]:
# Calculate the sum of each column

In [ ]:
# We can also perform operations on an array

In [ ]:
#Determine total number of gold medals

In [ ]:
#Determine average number of medals

**Class Exercise**: Determine whether the average number of gold medals won per country is higher for Europe or for North American countries.