# RANDOMIZED CONTROLLED EXPERIMENTS  _  CAUSALITY

In [1]:
#These are libraries that you should import if needed for your notebook.
#import libraries
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
#from google.colab import files

In [5]:
#upload the file baby.csv
#https://www.openintro.org/data/  - Nice site to get safe secure data

In [4]:
#Read the file mammogram.csv
mammogram = pd.read_csv("C:/University/University Files/University-Code/Year 1/Semester 1/Python/Lessons/Data/csv/mammogram.csv")

In [6]:
# Lets view the mammogram dataset
mammogram

       treatment breast_cancer_death
0      mammogram                 yes
1      mammogram                 yes
2      mammogram                 yes
3      mammogram                 yes
4      mammogram                 yes
...          ...                 ...
89830    control                  no
89831    control                  no
89832    control                  no
89833    control                  no
89834    control                  no

[89835 rows x 2 columns]

In [9]:
#Determine the listings in the dataset
mammogram.groupby('treatment').size()

treatment
control      44910
mammogram    44925
dtype: int64

In [10]:
#mammogram.groupby('breast_cancer_death').size()
mammogram.groupby('breast_cancer_death').size()

breast_cancer_death
no     88830
yes     1005
dtype: int64

In [4]:
# convert the 'breast_cancer_death' column to an array

In [5]:
# Let create a new column based on the previous cell

In [ ]:
# Since  I really dont need the second column anymore, i guess it is cool to drop the column i.e 'breast_cancer_death'

In [6]:
#mammogram

In [7]:
# mammogram.groupby('indicator').size()

In [8]:
#Determine the mean of the death in treatment vs the control group

In [9]:
# So let us determine if this is significant, we could determine the difference between the two means

#What is the difference between the death rate for mammogram and control

In [ ]:
#Create a function to input a table, a label and group label. which would then determine the label difference grouped by the values in group label

In [10]:
#Let's test this function

In [11]:
#Create an array with treatment column being shuffled

In [12]:
#Create a new table original_and_shuffled and add the shuffled labels as a column

In [13]:
#determine the difference mean in indicator for shuffled label

In [14]:
#determine the difference mean in indicator for treatment

In [15]:
#Let's put this all into a function

In [16]:
#Test this function

In [17]:
#Let's run this multiple times

In [18]:
# Diffrences

In [20]:
#Let's plot the distribution from the results above

#P-value