In [3]:
import sqlite3
conn=sqlite3.connect('sample.db')

In [2]:
cursor=conn.cursor()

AttributeError: module 'sqlite3' has no attribute 'cursor'

In [ ]:
query1 = 'Create a table (id Interger primary key autoincorrect, name text not null, age interger, grade interger)'
cursor.execute(query1)

In [ ]:
student_data = [()]
query2 = "insert into students (name, age, grade) Values(?, ? ,?)"
cursor.executemany(query, Students_data)

In [ ]:
query3= "select * FROM students"
cursor.execute(query3)
result = cursor.fetchall()

for i in result:
    print(i)

 #t his will view the data

In [ ]:
import pandas as pd
query3= "select FROM students"
df = pd.read_sql_query(query3, conn)

In [ ]:
df

In [ ]:
Query4 = "SELECT = FROM students WHERE age>=20"
cursor.execute(query4)

result = cursor.fetchall()

for i in result:
    print(i)

# Pattern Matching : Zero or more Character

In [ ]:

J%

%son 

%a%

In [ ]:
Query4 = "SELECT = FROM students WHERE name LIKE %e%"
cursor.execute(query4)

result = cursor.fetchall()

for i in result:
    print(i)

In [ ]:
WHERE NAME LIKE '%e%'

In [ ]:
Query4 = "SELECT = FROM students WHERE name LIKE "%e%" ORDER BY name ASC, age DESC"
cursor.execute(query4)

result = cursor.fetchall()

for i in result:
    print(i)

In [ ]:
query5 = "CREATE TABLE IF NOT EXISTS grades ( id INTERGER PRIMARY KEY AUTOINCORRECT, name TEXT NOT NULL)"
cursor.execute(query5)

In [ ]:
grades_data = [('grade 8',), ('grade 10',),('grade 11',),('grade 1',),('grade 2',)]
INSERT INTO GRADES (name) VALUES (?)